* {
  padding: 0;
  margin: 0;
  font-family: josefin sans, sans-serif;
  box-sizing: border-box;
}
.title {
  width: 100%;
  padding: 20px 0px;
  background-color: aliceblue;
}
.title img {
  height: auto;
  width: 600px;
}
.info {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  align-items: center;
}

.info h1 {
  color: lightsteelblue;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.info h5 {
  color: mediumblue;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.info p {
  color: midnightblue;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background: orangered;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background: transparent;
  border: 2px solid orangered;
  cursor: pointer;
}
@media (max-width: 900px) {
  .title img {
    width: 300px;
  }
  .info {
    width: 275px;
  }
  .main {
    width: 565px;
    max-width: 95%;
  }

  .info h1 {
    font-size: 40px;
  }
  .info h5 {
    font-size: 18px;
  }
  .info p {
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 45px;
  }
  button {
    padding: 13px 15px;
  }
}
